<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="LOG_PATTERN_FILE">%d [%t] %p %c - %m %n</Property>
  </Properties>
  <Appenders>
    <Console name="local" target="SYSTEM_OUT">
      <PatternLayout pattern="${LOG_PATTERN_FILE}" />
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" />
      </Policies>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="WARN">
      <AppenderRef ref="local"/>
    </Root>
  </Loggers>
</Configuration>

